.header {
  display: flex;
  border: 0.5px solid #E4E4E7;
  box-shadow: 0 4px 116px 0 #7A7AA626;
  width: 100%;
  border-radius: 6.5rem;
  align-items: center;
  padding: 2.25rem 2.5rem;
  margin-bottom: 4.5rem;
  justify-content: space-between;
  position: relative;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);

  .logo-content{
      width: 11.3rem;
      height: 3.4rem;
      max-width: 11.3rem;
      max-height: 3.4rem;

    .logo > {
      img {
        width: 100%;
        height: 100%;
      }
    }
  }


  nav {
    ul {
      display: flex;
      align-items: center;
      width: 34.3rem;
    }

    li {
      list-style: none;
      height: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1.5rem;
    }

    li:nth-child(1) {
      width: 6.25rem;
    }

    li:nth-child(2) {
      width: 9.5rem;
    }

    li:nth-child(3) {
      width: 15.5rem;
    }
  }

  .kontakt {
    button {
      width: 10.6rem;
      border-radius: 3.6rem;
      height: 3rem;
      border: 1px solid #2B2B4D;
      background: #FFFFFF66;
    }
  }

  .burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1001;


  }

  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #000000;
    margin: 4px 0;
    transition: all 0.3s ease;
  }

  .burger .line.open:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger .line.open:nth-child(2) {
    opacity: 0;
  }

  .burger .line.open:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding: 1rem 2.5rem;
    border-radius: 0 0 6.5rem 6.5rem;
    z-index: 1000;
    box-shadow: 0 4px 100px 0 rgba(122, 122, 166, 0.25);
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    background: rgba(250, 250, 250, 0.2);
  }

  .nav.open ul {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .nav.open ul li {
    width: 100%;
    text-align: center;
    margin: 1rem 0;
  }
}

@media (width <= 768px) {
  nav {
    display: none;
  }

  .kontakt {
    button {
      width: 6.1rem;
      max-width: 6.1rem;
      border-radius: 3.6rem;
      height: 3rem;
      border: 1px solid #2B2B4D;
      background: #FFFFFF66;
    }
  }



  .header{
    padding: 1.5rem;

    .burger {
      display: flex;
    }

    .logo-content{
      display: flex;
      gap: 16px;
      align-items: center;

      .logo  {
        width: 6.4rem;
        height: 1.9rem;
        max-width: 6.4rem;
        max-height: 1.9rem;

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

}
